---
import PostSnippet from "../../components/common/PostSnippet.astro";
const { contentType, posts, tag } = Astro.props;
type Post = {
  title: string;
  description?: string;
  url: string;
  tags?: string[];
  published?: Date;
  updated?: Date;
};
---

<div class="mb-20 space-y-0">
  <div class="items-left flex flex-col justify-between pb-5">
    <h2
      class="font-display text-3xl text-theme-dark underline sm:text-3xl dark:text-theme-light"
    >
      {contentType}
    </h2>
    <!-- <hr class="w-full border-t border-gray-300 dark:border-gray-600 my-1" /> -->
  </div>

  <div class="space-y-6">
    {
      posts.map((post: Post) => (
        <PostSnippet
          title={post.title}
          description={post.description || ""}
          url={post.url}
          tags={post.tags || []}
          published={post.published}
          updated={post.updated}
        />
      ))
    }
  </div>
</div>
