---
// import { experience } from "../../cv.config";
import type { Position, Experience } from "../../lib/cv.types";
import SectionHeader from "./SectionHeader.astro";

export type Props = {
  experience: Experience;
};

const { experience } = Astro.props;
---

<div
  class="relative mb-8 flex flex-col gap-3 text-theme-dark theme-transition dark:text-theme-light"
>
  <SectionHeader title={experience.sectionTitle} />
  {
    experience.positions.map((position: Position) => (
      <>
        <div class="ml-4 flex items-center justify-between">
          <span>
            <strong>{position.title}</strong>, {position.employer}
          </span>
          <span>
            {position.startDate} - {position.endDate}
          </span>
        </div>
        <div class="mb-4 ml-6">
          <ul class="list-inside list-disc">
            {position.bullets.map(bullet => (
              <li>{bullet}</li>
            ))}
          </ul>
        </div>
      </>
    ))
  }
</div>
