---
import PostSnippet from "../common/PostSnippet/PostSnippet.astro";
import Anchor from "../common/Anchor.astro";
import { getFeaturedPosts } from "../../lib/utils";
import { getUrl } from "../../lib/utils";

const featuredProjects = await getFeaturedPosts("projects");
---

{
  featuredProjects.length > 0 && (
    <div class="mb-20 space-y-0">
      <div class="flex items-center justify-between pb-5">
        <h2 class="font-display text-3xl text-theme-dark sm:text-4xl dark:text-theme-light">
          Featured Projects
        </h2>
        <div class="hidden md:flex">
          <Anchor
            url={getUrl("projects")}
            additionalClasses="md:hover-unmute md:hover-underline"
          >
            View all projects →
          </Anchor>
        </div>
      </div>

      <div class="space-y-6">
        {featuredProjects.map(project => (
          <PostSnippet
            title={project.title}
            description={project.description}
            url={project.url}
            tags={project.tags}
            published={project.published}
            updated={project.updated}
            repoUrl={project.repoUrl}
            demoUrl={project.demoUrl}
            links={project.links}
          />
        ))}
      </div>
    </div>
  )
}
