---
import PostSnippet from "../common/PostSnippet.astro";
import Anchor from "../common/Anchor.astro";
import { getFeaturedPosts } from "../../lib/utils";
import { getUrl } from "../../lib/utils";

const featuredProjects = (await getFeaturedPosts("projects"));
---

{featuredProjects.length > 0 && (
  <div class="space-y-0 mb-20">
    <div class="flex justify-between items-center pb-5">
      <h2 class="text-3xl sm:text-4xl font-display text-theme-dark dark:text-theme-light">Featured Projects</h2>
      <Anchor url={getUrl("projects")} additonalClasses="text-theme-dark-muted dark:text-theme-light-muted hover:text-theme-accent-dark-muted dark:hover:text-theme-accent-light-muted transition-colors hidden md:block" hoverUnderline>
        View all projects →
      </Anchor>
    </div>
    
    <div class="space-y-6">
      {featuredProjects.map((project) => (
        <PostSnippet
          title={project.title}
          description={project.description}
          url={project.url}
          tags={project.tags}
          published={project.published}
          updated={project.updated}
          repoUrl={project.repoUrl}
          demoUrl={project.demoUrl}
        />
      ))}
    </div>
  </div>
)}
