---
import PostSnippet from "../common/PostSnippet/PostSnippet.astro";
import Anchor from "../common/Anchor.astro";
import { getFeaturedPosts } from "../../lib/utils";
import { getUrl } from "../../lib/utils";

const recentPosts = await getFeaturedPosts("posts");
---

{
  recentPosts.length > 0 && (
    <div class="mb-20 space-y-0">
      <div class="flex items-center justify-between pb-5">
        <h2 class="font-display text-3xl text-theme-dark sm:text-4xl dark:text-theme-light">
          Recent Posts
        </h2>
        <div class="hidden md:flex">
          <Anchor
            url={getUrl("posts")}
            additionalClasses="md:hover-unmute md:hover-underline"
          >
            View all posts →
          </Anchor>
        </div>
      </div>

      <div class="space-y-6">
        {recentPosts.map(post => (
          <PostSnippet
            title={post.title}
            description={post.description}
            url={post.url}
            tags={post.tags}
            published={post.published}
            updated={post.updated}
          />
        ))}
      </div>
    </div>
  )
}
