---
import Anchor from "./Anchor.astro";
import SocialIcon from "./SocialIcon.astro";
import { siteConfig } from "../../site.config";

const config = siteConfig;
const opacities = [];
for (let i = 10; i <= 70; i += 10) {
  opacities.push(i);
}
---

<footer class="mb-0">
  <div class="flex flex-col items-center text-theme-dark-muted dark:text-theme-light-muted gap-2 mb-2">
    <div class="flex flex-row sm:flex-row gap-4">
      {config.socialLinks.map((social) => (
        <Anchor
          url={social.url}
          hoverUnderline={false}
          aria-label={`${config.personal.name} ${social.name}`}
        >
          <SocialIcon icon={social.icon} />
        </Anchor>
      ))}
    </div>
  </div>
  <div class="flex flex-col gap-0 mt-0 mb-0">
    {opacities.map((o) => {
      return <div class="h-3 bg-theme-dark dark:bg-theme-light" style={`opacity: ${o}%`}></div>
    })}
  </div>
</footer>
