---
import Anchor from "./Anchor.astro";
import TablerIcon from "./TablerIcon.astro";
import { siteConfig } from "../../site.config";
import { getUrl } from "../../lib/utils";

const config = siteConfig;
const opacities = [];
for (let i = 10; i <= 70; i += 10) {
  opacities.push(i);
}

const resolveUrl = (url: string) => (url.startsWith("/") ? getUrl(url) : url);
---

<footer class="mb-0">
  <div
    class="mb-2 flex flex-col items-center gap-2 text-theme-dark-muted dark:text-theme-light-muted"
  >
    <div class="flex flex-row gap-4 sm:flex-row">
      {
        config.socialLinks.map(social => (
          <Anchor
            url={resolveUrl(social.url)}
            hoverUnderline={false}
            aria-label={`${config.personal.name} ${social.name}`}
            additionalClasses="text-theme-dark dark:text-theme-light group hover:text-theme-accent-dark dark:hover:text-theme-accent-light hover:fill-theme-accent-dark dark:hover:fill-theme-accent-light theme-transition"
          >
            <span class="inline-block transition-transform duration-200 ease-in-out group-hover:rotate-6">
              <TablerIcon icon={social.icon} />
            </span>
          </Anchor>
        ))
      }
    </div>
  </div>
  <div class="mt-0 mb-0 flex flex-col gap-0">
    {
      opacities.map(o => {
        return (
          <div
            class="h-3 bg-theme-dark dark:bg-theme-light"
            style={`opacity: ${o}%`}
          />
        );
      })
    }
  </div>
</footer>
