---
import { processDate } from "../../lib/utils";
import Anchor from "./Anchor.astro";
import Tags from "../tags/Tags.astro";

export type Props = {
  title: string;
  description: string;
  url: string;
  tags?: string[];
  published?: Date;
  updated?: Date;
  repoUrl?: string;
  demoUrl?: string;
};

const { title, description, url, tags, published, updated, repoUrl, demoUrl } =
  Astro.props;
const repoName = repoUrl?.includes("github")
  ? "GitHub"
  : repoUrl?.includes("gitlab")
    ? "GitLab"
    : "Repo";
---

<div
  class="relative mb-8 flex flex-col gap-3 text-theme-dark theme-transition dark:text-theme-light"
>
  <div class="flex items-center justify-between">
    <Anchor url={url} additonalClasses="text-xl" hoverUnderline>
      {title}
    </Anchor>
    {
      ((repoUrl || demoUrl) && (
        <div class="flex hidden flex-row gap-5 md:flex">
          <span>
            {repoUrl ? (
              <Anchor
                url={repoUrl}
                external
                additonalClasses="text-theme-dark-muted dark:text-theme-light-muted hover:text-theme-accent-dark-muted dark:hover:text-theme-accent-light-muted fill-theme-dark-muted dark:fill-theme-light-muted hover:fill-theme-accent-dark-muted dark:hover:fill-theme-accent-light-muted transition-colors"
              >
                {repoName}
              </Anchor>
            ) : null}
          </span>
          <span>
            {demoUrl ? (
              <Anchor
                url={demoUrl}
                external
                additonalClasses="text-theme-dark-muted dark:text-theme-light-muted hover:text-theme-accent-dark-muted dark:hover:text-theme-accent-light-muted fill-theme-dark-muted dark:fill-theme-light-muted hover:fill-theme-accent-dark-muted dark:hover:fill-theme-accent-light-muted transition-colors"
              >
                Live
              </Anchor>
            ) : null}
          </span>
        </div>
      )) || (
        <div class="flex hidden flex-row gap-10 text-theme-dark-muted md:flex dark:text-theme-light-muted">
          <span class="text-theme-dark-muted theme-transition dark:text-theme-light-muted">
            {published ? processDate(published) : null}
            {updated ? ` [${processDate(updated)}]` : null}
          </span>
        </div>
      )
    }
  </div>
  {description && <p class="">{description}</p>}
  {tags && tags.length > 0 && <Tags tags={tags} />}
  <div
    class="flex flex-row gap-10 text-theme-dark-muted md:hidden dark:text-theme-light-muted"
  >
    <span
      class="text-theme-dark-muted theme-transition dark:text-theme-light-muted"
    >
      {published ? processDate(published) : null}
      {updated ? ` [${processDate(updated)}]` : null}
    </span>
  </div>
</div>
