---
import { processDate } from "../lib/utils";
import { siteConfig } from "../site.config";
import type { PostFrontmatter } from "../lib/types";
import Section from "../components/common/Section.astro";
import Prose from "../components/common/Prose.astro";
import Layout from "./Layout.astro";
import SEO from "../components/common/SEO.astro";
import ContentLayoutHeader from "../components/common/ContentLayoutHeader.astro";
import DraftBox from "../components/common/DraftBox.astro";
import TableOfContents from "../components/common/TableOfContents.astro";
import SubCollectionLinks from "../components/common/SubCollectionLinks.astro";
import Signature from "../components/common/Signature.astro";
import type { MarkdownHeading } from "astro";
import PostPaginate from "../components/common/PostPaginate.astro";
import type { collections } from "../content.config";
import type { PaginationInfo } from "../components/common/PostPaginate.astro";


type Props = {
  frontmatter: PostFrontmatter;
  headings?: MarkdownHeading[];
  collectionName: keyof typeof collections;
  paginationInfo?: PaginationInfo;
};

const { frontmatter, headings, collectionName, paginationInfo } = Astro.props;
const publishDate = processDate(frontmatter.published);
const updateDate = processDate(frontmatter.updated);
const tags = frontmatter.tags;
const config = siteConfig;
const isDev = import.meta.env.DEV;
const isDraft = frontmatter.draft;
const hideTOC = frontmatter.hideTOC;
const isIndex = frontmatter.isIndex;
const indexDirectory = frontmatter.indexDirectory;
const numberH2 = frontmatter.numberH2;
const paginate = frontmatter.paginate;
---

<Layout>
  <Fragment slot="head">
    <SEO configKey={collectionName} />
  </Fragment>
  <div class="mx-auto max-w-6xl">
    <div class="flex flex-row gap-8">
      <div class="flex-1 min-w-0">
        <Section class="pt-8">
          {isDev && isDraft && <DraftBox />}
          <ContentLayoutHeader
            title={frontmatter.title}
            tags={tags}
            publishDate={publishDate}
            updateDate={updateDate}
          />
          <Prose class="max-w-none" numberH2={numberH2}>
            <slot />
            {
              isIndex && indexDirectory && (
                <SubCollectionLinks
                  collectionName={collectionName}
                  indexDirectory={indexDirectory}
                />
              )
            }
          </Prose>
          <Signature />
          {paginate && <PostPaginate paginationInfo={paginationInfo} />}
        </Section>
      </div>
      {
        !hideTOC && (
          <div class="hidden xl:block w-80 flex-shrink-0">
            <TableOfContents headings={headings} numberH2={numberH2} />
          </div>
        )
      }
    </div>
  </div>
</Layout>
